* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 15px 25;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:antiquewhite;
}

.cartao {
    width: 260px;
    height:200px;

}

.cartao-imagem{
    width: 100;
    border-radius: 10px;
}

body {
    display: flex;
    flex-direction: culumn;
    min-height: 100vh;
    background-color: blanchedalmond;
}

main {
    flex: 1;
}

main {
    flex: 1;
}


.cabecalho-link {
 color: white;
 text-decoration: none;   
}

h1 {
    color: blue;
    font-size: 24px;
}